.item{
    display: flex;
    border: solid red 2px;
    gap: 1em;
    flex-direction: column;
    padding: 2em;
    width: 30%;
}
.item img{
    width: 30%;
    height: 20%;
    align-self: center;
}